<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="css/index.min.css">

  <title>Fashon shop</title>
</head>

<body>
  {% include 'app/module/parts/_header/_header.html' %}

  <main class="main">
    {% include 'app/module/index/_top-slider/_top-slider.html' %}
    {% include 'app/module/index/_categories-info/_categories-info.html' %}
    {% include 'app/module/index/_video-fashion/_video-fashion.html' %}
    {% include 'app/module/index/_product/_product.html' %}
    {% include 'app/module/index/_promo/_promo.html' %}
    {% include 'app/module/index/_blog/_blog.html' %}
  </main>


  {% include 'app/module/parts/_footer/_footer.html' %}


  <script src="js/main.min.js"></script>


</body>

</html>