.product {
  text-align: center;
  padding: 120px 0 120px 0;

  &__link {
    text-transform: uppercase;
    color: $title;
    @extend %roboto-400;
    line-height: 26px;
    display: inline-block;
    border: 1px solid $accent;
    padding: 14px 27px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 45px;
    padding-bottom: 60px;
  }
}


.product-item {
  text-align: center;
  max-width: 370px;

  &.product-item--list {
    min-width: 100%;
    display: flex;
    text-align-last: left;

    &:hover {
      .product-item__link-box {
        transform: translateY(-280%);
      }
    }

    .product-item__img-box {
      height: 250px;
      width: 200px;
      width: 100%;

      img {
        height: 250px;

      }
    }

    .product-item__text {
      margin-bottom: 25px;
    }

    .product-item__link-box {
      box-shadow: none;
      width: 140px;
      background-color: transparent;

      bottom: auto;



      .product-item__link {
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .product-item__link--line {
        display: none;
      }
    }

    .product-item__btn {
      color: #fff;
      padding: 11px 40px;
      background-color: $title;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: $accent;
      }

    }

    .product-item__content-box {
      display: block;
    }

    .product-item__title {
      order: -1;
      width: 100%;
    }

    .product-item__price {
      order: -1;

    }

    .product-item__box {
      display: flex;
      flex-wrap: wrap;

    }

    .product-item__wrapper-box {
      padding: 30px 40px;
      border: 1px solid #ececec;
      border-left: none;
      max-width: 660px;
    }

    .star {
      margin-left: 35px;
    }

    .product-item__old-price {
      display: block;
    }

  }

  .product-item__old-price {
    display: none;
  }

  &:hover {
    .product-item__link-box {
      transform: translateY(0);
    }
  }

  &__content-box {
    display: none;
  }

  &__img-box {
    max-width: 370px;
    height: 370px;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
  }

  &__images {
    object-fit: cover;
  }


  &__link-box {
    position: absolute;
    bottom: 50px;
    background-color: #fff;
    left: 0;
    right: 0;
    height: 50px;
    width: 220px;
    margin: 0 auto;
    border-radius: 22px;
    box-shadow: 0 7px 20px 0 rgba(192, 192, 192, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateY(300%);
    transition: transform 0.4s;
  }

  &__link--line::before,
  &__link--line::after {
    content: '';
    position: absolute;
    background-color: #ececec;
    height: 30px;
    width: 1px;
    top: 10px;
  }

  &__link--line::before {
    left: 70px;
  }

  &__link--line::after {
    right: 70px;
  }

  &__link {
    display: inherit;

    path {
      transition: fill 0.4s;
    }

    &:hover svg {
      path {
        fill: $accent;
      }
    }
  }

  &__title {
    @extend %roboto-400;
    font-size: 22px;
    line-height: 26px;
    color: $title;
    margin-bottom: 15px;
  }

  &__price {
    display: flex;
    justify-content: center;
  }

  &__new-price {
    margin-right: 15px;
    @extend %roboto-500;
    color: $title;
  }

  &__old-price {
    text-decoration: line-through;
  }

  &--sale {
    .product-item__img-box::before {
      content: "SALE";
      position: absolute;
      @extend %btn;
      top: 25px;
      left: 15px;
      padding: 10px 15px;
      line-height: 1;

    }
  }

}

.star {
  margin: 0 auto;
  margin-bottom: 15px;
}